.virtual_documents/
data_visualization/notebook/.ipynb_checkpoints/
data_visualization/notebook/.virtual_documents/
melbourne-housing-snapshot/notebooks/.ipynb_checkpoints/
melbourne-housing-snapshot/notebooks/.missing_values.ipynb.layout
melbourne-housing-snapshot/notebooks/.virtual_documents/
